// =============================================================================
// Icons
// =============================================================================

.icon {
	display: block;
}

.icon--linkedin svg {
	width: rem(27px);
	height: rem(27px);
}

.icon--facebook svg {
	width: rem(27px);
	height: rem(27px);
}
