// =============================================================================
// Address
// =============================================================================

address {
	font-style: normal;
	font-weight: 400;
	font-family: $font-family-body;
	line-height: 1.5;
}
