// =============================================================================
// Blockquote
// =============================================================================

blockquote {
	font-size: rem(24px);
	font-style: italic;
	line-height: 1.35;
	@include media(">=m") {
		font-size: rem(36px);
	}
}
