// =============================================================================
// Citation
// =============================================================================

cite {
	display: block;
	color: $color-secondary;
	font-size: rem(16px);
	padding: 2rem 0;
	@include media(">=m") {
		font-size: rem(20px);
	}
}
