// ==========================================================================
// Form
// ==========================================================================

form {
	//
}

fieldset {
	//
}

label {
	cursor: text;
	position: relative;
	display: block;
}
